body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #eee;
}

.progress-info {
  text-align: center;
}

.progress-header {
  font-size: 54pt;
  margin-bottom: 20px;
}

.progress-header > a {
  color: inherit;
}

.progress-header > a:hover,
.progress-header > a:focus,
.progress-header > a:active {
  text-decoration: none;
}